<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>{{ site.meta_title or site.name }}</title>
<meta name="description" content="{{ site.meta_description }}">
<meta property="og:title" content="{{ site.meta_title or site.name }}">
<meta property="og:description" content="{{ site.meta_description }}">
<meta property="og:type" content="profile">
<link rel="icon" type="image/png" sizes="16x16" href="/img/favicon-16.png">
<link rel="icon" type="image/png" sizes="32x32" href="/img/favicon-32.png">
<link rel="icon" type="image/png" sizes="512x512" href="/img/favicon-512.png">
<link rel="apple-touch-icon" sizes="180x180" href="/img/favicon-180.png">
<link rel="stylesheet" href="/css/style.css">
