<!doctype html>
<html lang="en">
<head>
{% include "head.njk" %}
{% if site.theme %}<link rel="stylesheet" href="/css/themes/{{ site.theme }}.css">{% endif %}
</head>
<body>
{% include "page.njk" %}
</body>
</html>
